In [1]:
import pandas as pd # dataframes

In [2]:
### Read our train data into a dataframe
texts = pd.read_csv("Data_Raw/train_full.csv", encoding = 'latin-1')

# look at the first few rows of texts
texts.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [3]:
# split the data by author
byAuthor = texts.groupby("author")

# how many sentences are from each author?
for name, group in byAuthor:
        print(len(group['text']))

7900
5635
6044

In [4]:
# create df for each author
eap = texts.loc[texts['author'] == 'EAP']
hpl = texts.loc[texts['author'] == 'HPL']
mws = texts.loc[texts['author'] == 'MWS']

# randomly subset the larger author dfs so that each df has the same number of sentences
eap_s = eap.sample(n=5635)
mws_s = mws.sample(n=5635)

# combine subsetted dfs into single df
texts_s = pd.concat([eap_s, hpl, mws_s])

texts_s = texts_s.reset_index()

texts_s = texts_s.drop('index', axis = 1)
texts_s.head()

        id                                               text author
0  id21695  The families of Berlifitzing and Metzengerstei...    EAP
1  id11413                         I still quickened my pace.    EAP
2  id11977  Mr. Maelzel, to be sure, is not very tall, but...    EAP
3  id11677       here Legrand touched each of Jupiter's eyes.    EAP
4  id24232  The next morning he was quite recovered, so fa...    EAP

In [5]:
texts_s.to_csv('Data_Output/equal_length_train.csv', index = False)