In [1]:
import pandas as pd # dataframes

In [2]:
### Read our train data into a dataframe
texts = pd.read_csv("Data_Output/test_with_author.csv", encoding = 'latin-1')

# look at the first few rows of texts
texts.head()

        id                                               text author
0  id02310  Still, as I urged our leaving Ireland with suc...    MWS
1  id24541  If a fire wanted fanning, it could readily be ...    EAP
2  id00134  And when they had broken down the frail door t...    HPL
3  id27757  While I was thinking how I should possibly man...    HPL
4  id04081  I am not sure to what limit his knowledge may ...    EAP

In [3]:
# split the data by author
byAuthor = texts.groupby("author")

# how many sentences are from each author?
for name, group in byAuthor:
        print(len(group['text']))

3150
2440
2802

In [4]:
# create df for each author
eap = texts.loc[texts['author'] == 'EAP']
hpl = texts.loc[texts['author'] == 'HPL']
mws = texts.loc[texts['author'] == 'MWS']

# randomly subset the larger author dfs so that each df has the same number of sentences
eap_s = eap.sample(n=2440)
mws_s = mws.sample(n=2440)

# combine subsetted dfs into single df
texts_s = pd.concat([eap_s, hpl, mws_s])

texts_s = texts_s.reset_index()

texts_s = texts_s.drop('index', axis = 1)
texts_s.head()

        id                                               text author
0  id26184  An intimate and anxious examination of his car...    EAP
1  id26648  It's getting late, and, besides, you remember ...    EAP
2  id22884  This functionary, however, has been thoroughly...    EAP
3  id10873  The question might then have been asked "Why d...    EAP
4  id18590  These things are observed during the canoe's g...    EAP

In [5]:
texts_s.to_csv('Data_Output/equal_length_test.csv', index = False)